extends layout

block content
  h1= title
  p search for a movie you like, and get a similar movie to watch next.
  include search.html

  p
  span.
   check the source code out on 
  a(href="http://github.com/doublefeature/doublefeature") github
  span.
  p
  span.
   by 
  a(href="http://github.com/tehp") Mackenzie Craig
  span.
